.content {
  overflow: hidden;
}

.header {
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 3px 15px rgba(152, 152, 152, 0.2);
}

.header__wrapper {
  min-height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navigation {
  position: relative;
  top: 0;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: none;
}

.navigation__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 29px;
  right: 30px;
  border: none;
  padding: 0;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__toggle::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
}

.navigation--active .navigation__toggle::before,
.navigation--active .navigation__toggle::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  height: 20px;
  width: 2px;
  background-color: black;
  box-shadow: none;
}
.navigation--active .navigation__toggle:before {
  transform: rotate(45deg);
}
.navigation--active .navigation__toggle:after {
  transform: rotate(-45deg);
}

.navigation__list {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 200px;
  padding: 20px;
  box-shadow: 0 3px 15px rgba(152, 152, 152, 0.2);
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    position: relative;
    top: 0;
    width: auto;
    box-shadow: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
  }
}

.navigation__link {
  font-size: 15px;
  color: #B9904F;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: underline;
}

.section {
  padding: 35px 35px;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 135px 0;
  }
}

.features {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .features {
    flex-direction: row;
  }
}

.features__slogan {
  margin-bottom: 61px;
}

.features__slogan-text {
  font-size: 43px;
  color: #B9904F;
}

.features__slogan-text--highlight {
  color: #FFAF18;
}

.features__list {
  list-style: none;
  margin: 0 0 58px 0;
  padding: 0;
  display: grid;
}
@media screen and (min-width: 768px) {
  .features__list {
    grid-template-columns: 1fr 1fr;
    gap: 47px;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 17px;
}

.features__item svg {
  width: 60px;
  height: 60px;
}

.features__image {
  margin-top: 50px;
  grid-area: image;
  align-self: center;
  max-width: 520px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .features__image {
    margin-top: 0;
    width: 520px;
    height: 342px;
  }
}

.feature__title {
  text-transform: uppercase;
  color: #FFAF18;
}

.feature__text {
  color: #B9904F;
}

.redirect__button {
  margin: 0 auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #FFAF18;
  height: 62px;
  width: 226px;
}
@media screen and (min-width: 768px) {
  .redirect__button {
    margin: 0;
  }
}

.redirect__button:hover,
.redirect__button:focus {
  background-color: #B9904F;
}

.menu__title {
  text-align: center;
  font-size: 34px;
  color: #B9904F;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.menu__item {
  width: 284px;
  padding: 27px 19px 14px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 15px rgba(152, 152, 152, 0.2);
}

.menu__item__img {
  width: 203px;
  height: 143px;
}

.menu__item__name {
  margin: 16px 0;
  font-size: 17px;
}

.menu__item__ingredients {
  margin-bottom: 19px;
  flex-grow: 1;
}

.menu__item__button {
  align-self: stretch;
  min-width: 244px;
  min-height: 52px;
  background-color: #FFAF18;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.menu__item__button:hover,
.menu__item__button:focus {
  background-color: #B9904F;
}

@media screen and (min-width: 768px) {
  .order {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .order {
    display: flex;
    align-items: center;
    gap: 77px;
    margin-bottom: 71px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .order__wrapper {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .order__wrapper {
    gap: 128px;
  }
}

.order__title__wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .order__title__wrapper {
    width: 367px;
  }
}

.order__title {
  font-size: 35px;
  color: #FFAF18;
  margin-bottom: 70px;
}

.order__title--highlight {
  color: #B9904F;
}

.order__text {
  font-size: 16px;
  color: #B9904F;
}

.order__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .order__form {
    min-width: 330px;
  }
}

.order__input {
  border: 1px solid #B9904F;
  height: 60px;
  padding: 23px;
  margin-bottom: 23px;
  color: #FFAF18;
  font-size: 16px;
}

.order__input::placeholder {
  color: #B9904F;
  font-size: 16px;
}

.order__button {
  min-height: 62px;
  background-color: #FFAF18;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.order__button:hover,
.order__button:focus {
  background-color: #B9904F;
}

.order__image {
  visibility: hidden;
}
@media screen and (min-width: 1200px) {
  .order__image {
    visibility: visible;
    width: 410px;
    height: 454px;
  }
}

/*# sourceMappingURL=app.component.css.map */
